
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.1-dist/css/style.css' %}">

</head>
<body>

     {% include 'accounts/shared/nav.html' %}
    <div class="container-fluid">
        {% block content %}


        {% endblock content %}
    </div>

    <script src="{% static 'bootstrap-4.6.1-dist/js/jquery.js'  %}"></script>
    <script src="{% static 'bootstrap-4.6.1-dist/js/popper.js' %}"></script>
    <script src="{% static 'bootstrap-4.6.1-dist/js/bootstrap.js' %}"></script>

  </body>


</body>
</html>