<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Callbrokers.com</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>





            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Signup</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="{% url 'account.signup_company' %}">company</a>
                    <a class="dropdown-item" href="{% url 'account.signup_customer' %}">customer</a>
                    <a class="dropdown-item" href="{% url 'account.signup_engineer' %}">engineer</a>
                    <a class="dropdown-item" href="{% url 'account_signup_jobseeker' %}">jobseeker</a>
                    <a class="dropdown-item" href="{% url 'account.signup_clubbroker' %}">callbrokers</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'account_login' %}">Login <span class="sr-only"></span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="https://puthurinfotech.com/products.php">TECHNOLOGY <span class="sr-only"></span></a>
            </li>&nbsp;
            <li class="nav-item active">
                <a class="nav-link" href="https://techxplore.com/">NEWS <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'account_signup_jobseeker' %}">CAREERS <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">TECHBLOGS <span class="sr-only"></span></a>
            </li>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>

        </form>
</nav>